<body>
    <app-top-bar></app-top-bar>

    <div>
        <h2>Welcome back {{currentUser | json}}</h2>
    </div>

    <div>
        <div class="container">
            <h2>Guess You Like       <mat-icon aria-label="Sign" class="gap">favorite</mat-icon></h2>
            <hr>
            <div class="card" *ngFor="let movie of recomMovieListbyMovieSim">
                <img src={{movie.poster_link}} alt="no image found">
                <div class="movie-info">
                    <h4 class="movie_title">{{movie.title}}</h4>
                    <br>
                    <star-rating style="float: left;" value="0" totalstars="5" checkedcolor="red" uncheckedcolor="grey" size="24px" readonly="false" (rate)="onRate($event, movie.title)"></star-rating>
                </div>
            </div>
        </div>
    </div>
    <br style="clear:both" />
    <br>
    <br>

    <div class="container">
        <h2>Other Similar User Like     <mat-icon aria-label="Sign" class="gap">face</mat-icon></h2>
        <hr>
        <div class="card" *ngFor="let movie of recomMovieListbyUserSim">
            <img src={{movie.poster_link}} alt="no image found">
            <div class="movie-info">
                <h4 class="movie_title">{{movie.title}}</h4>
                <br>
                <star-rating style="float: left;" value="0" totalstars="5" checkedcolor="red" uncheckedcolor="grey" size="24px" readonly="false" (rate)="onRate($event, movie.title)"></star-rating>
            </div>
        </div>
    </div>
    
    

</body>
